.text1{
    position: relative;
    text-align: center;
    color: #0c0c0c;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top : 100px;
}
 